body {
  font-family: 'PT Sans', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav {
    float: left;
    top: 0;
    height: 170px;
    width: 120px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 14px;
    opacity: 0.8;
    transition: all 500ms ease-in-out;
    z-index: 2;
  }

  nav a {
    display: block;
    margin: 1em;
    letter-spacing: 3px;
    padding: 10px;
  }

  nav a:visited {
    color: black;
  }

  nav a:visited:hover {
    color: white;
  }

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    z-index: -1;
  }
  form div {
    margin: 1em;
    display: inline-block;
  }
  p {
    display: block;
    margin: auto;
  }
}

#home-nav-hover:hover {
  background-color: #C84C85;
  color: white;
}

#about-nav-hover:hover {
  background-color: #5CAAAC;
  color: white;
}

#work-nav-hover:hover {
  background-color: #4A5fD3;
  color: white;
}

#home-nav-hover:hover > .slider {
  display: inline;
}

.slider {
  display: none;
}

.introduction-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 2fr 1fr;
  grid-template-rows: repeat(12, 1fr);
  position: relative;
  height: 600px;
  // padding-top: 100px;
}

.introduction {
  grid-column: 2 /span 2;
  grid-row: 2 /span 2;
  font-size: 50px;
  perspective: 1000px;
  perspective-origin: 200px 40px;
  z-index: 2;
}

#m-letter {
  color: #A5288E;
}

.intro-letters {
  transition: transform 300ms ease-in-out;
  display: inline-block;
  text-shadow: 2px 2px white;
}

.intro-letters:hover {
  -webkit-transform: scale(1.2, 0.8);
  transform: scale(1.2, 0.8);
  color: #FD777F;
  text-shadow:
    -2px -2px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.intro-spacing {
  padding-right: 5px;
}

.initials {
  display: inline-block;
  grid-column: 3;
  grid-row: 4 /span 3;
  padding-left: 100px;
  font-size: 20em;
  color: #475CDA;
  text-shadow: -10px -10px 0 #000;
  transform: rotate(-20deg);
  z-index: 1;
}

#about-initials, #work-initials {
  grid-column: 2 /span 3;
  grid-row: 4 /span 5;
  color: #592E66;
  opacity: 0.2;
  z-index: -1;
}

#work-initials {
  grid-column: 6 /span 3;
  grid-row: 1 /span 3;
  color: #FD777F;
}

.technology-large-list {
  grid-column: 3 /span 2;
  grid-row: 1 /span 2;
  padding-left: 550px;
  margin-top: 200px;
  z-index: -1;
}

.technology-names {
  font-family: monospace;
  font-size: 16px;
  transform: rotate(-20deg);
  z-index: -1;
  padding: 5px;
  letter-spacing: 3px;
  opacity: 0.5;
}

.technology-names:hover {
  color: purple;
}

.slider {
  display: inline;
  height: 2px;
  width: 2px;
  border-top: 1px solid blue;
  background-color: yellow;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

.slider:hover {
  right: 0;
  color: pink;
}

.dot {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
  height: 600px;
}

.about-paragraph {
  grid-column: 3 /span 9;
  grid-row: 2;
  font-size: 20px;
  letter-spacing: 3px;
  padding-top: 10px;
}

.about-paragraph-list {
  padding: 10px;
}

.portfolio-pic {
  grid-column: 2;
  grid-row: 2 /span 3;
  padding: 20px;
}

.my-stack-list {
  grid-row: 10;
  grid-column: 3 /span 4;
  padding: 10px;
}

.about-links {
  grid-column: 3 /span 4;
  grid-row: 3;
  margin: 10px;
}

.about-links > a {
  display: inline-block;
  padding: 5px;
}

.work-container {
  grid-row: 4;
  grid-column: 2 /span 10;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.work-section {
  grid-column: 1 /span 11;
}

.project-section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 1;
}

.work-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  grid-template-rows: repeat(5, 1fr);
  font-family: 'Roboto', sans-serif;
}

.work-section > a:visited{
  color: black;
}

.work-section > p {
  grid-column: 2 /span 2;
  grid-row: 2;
}

.work-image-one {
  grid-column: 2 /span 10;
  grid-row: 1 /span 4;
  transition: all 1s ease-in-out;
  background-size: cover;
  z-index: -1;
}

p.work-title {
  grid-column: 1 /span 4;
  grid-row: 2 / span 2;
  font-size: 5em;
  margin-left: 0;
  font-family: 'Dosis', sans-serif;
  text-shadow: 2px 2px white;
}

.work-title a:visited {
  color: black;
}

.work-stack {
  grid-column: 1 /span 4;
  grid-row: 5;
  padding-top: 100px;
  margin: auto;
}

.work-stack > p {
  font-size: 12px;
  display: inline-block;
  padding: 10px;
  background-color: #2C6590;
  border: solid 3px white;
  color: white;
  border-radius: 50px;
}

.work-summary {
  grid-column: 1 /span 4;
  grid-row: 6 /span 3;
  margin: auto;
  padding: 30px;
  font-size: 1em;
  padding-bottom: 20px;
}

.work-summary > h2 {
  background-color: #592E66;
  color: black;
}

#first-dot {
  grid-column: 4;
  grid-row: 2;
}

#second-dot {
  grid-column: 4;
  grid-row: 5;
}

#third-dot {
  grid-column: 3;
  grid-row: 6;
}

#fourth-dot {
  grid-column: 1;
  grid-row: 6/ span 2;
}

#fifth-dot {
  grid-column: 2;
  grid-row: 5;
}

#sixth-dot {
  grid-column: 8;
  grid-row: 3;
}

@media (max-width: 640px) {
  body {
    nav {
      float: none;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    
    nav a {
      display: inline;
      padding: 10px;
      margin: 0.5em;
    }
  }
  .introduction-container {
    grid-template-columns: 0.5fr 0.5fr 1fr 2fr 1fr;
    padding: 5px;
    width: 100%;
  }
  
  #app {
    width: 100%;
  }
  
  .introduction {
    grid-column: 1 /span 5;
    grid-row: 1 /span 2;
    padding: 10px;
  }
  
  .initials {
    grid-column: 1 /span 3;
    grid-row: 2 /span 2;
    font-size: 13em;
    padding: 0;
    display: inline;
    width: 100%;
    padding-top: 230px;
  }
  
  .technology-large-list {
    grid-column: 1 /span 3;
    grid-row: 2 /span 2;
    padding-left: 320px;
    margin-top: 0;
    padding-top: 200px;
  }
  
  .technology-names {
    font-size: 8px;
  }
  
  #second-dot {
    grid-column: 5;
  }
  
  #third-dot {
    grid-row: 9;
  }
  
  .about-container {
    width: 100%;
  }
  
  .portfolio-pic {
    grid-column: 1;
    grid-row: 2 /span 3;
    padding: 5px;
  }
  
  .about-paragraph {
    grid-column: 2 /span 10;
    grid-row: 2 /span 3;
    font-size: 1em;
  }
  
  .about-paragraph-list {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  
  #about-initials {
    grid-column: 1 / span 5;
    grid-row: 3 /span 3;
    width: 100%;
  }
  
  .about-links {
    grid-column: 1;
    grid-row: 7;
    margin: auto;
  }
  
  #fifth-dot {
    grid-column: 1 /span 3;
    grid-row: 7 /span 2;
  }
  
  #sixth-dot {
    grid-column: 2 /span 6;
    grid-row: 4 /span 3;
  }
  
  .work-container {
    grid-column: 1 /span 11;
  }
  
  .work-section {
    width: 100%;
  }
  
  .work-title {
    grid-column: 2 /span 10;
  }
}

@media (max-width: 360px) {
  body {
    nav {
      padding-left: 25px;
      padding-right: 30px;
    }
  }
}
